<% include ../partials/header %>
	
	<div class="jumbotron d-none d-md-block bg-white px-5 py-4 m-0">
		<div class="jumbotron-content">
		    <h1 class="display-4">Stay in comfort. Meet new friends. Create memories.</h1>
		    <p class="lead">Search for unique dormitories for you to stay.</p>
		    <form action="/search" method="GET">
	    		<div class="input-group">
					<input type="text" class="form-control form-control-lg" id="location" name="location" placeholder="Try 'Polytechnic University of the Philippines'">
					<input type="hidden" id="query_city" name="query_city" value="Manila">
					<input type="hidden" id="query_lat" name="query_lat" value="14.5995">
					<input type="hidden" id="query_lng" name="query_lng" value="120.9842">
					<div class="input-group-append">
						<button class="btn btn-lg btn-danger" type="submit">Search</button>
					</div>
				</div>
	    	</form>
	    </div>
	</div>

	<div class="container d-block d-md-none my-3">
		<form action="/search" method="GET">
	    	<div class="input-group">
				<input type="text" class="form-control form-control-lg" id="location2" name="location" placeholder="Try 'Polytechnic University of the Philippines'">
				<input type="hidden" id="query_city" name="query_city" value="Manila">
					<input type="hidden" id="query_lat" name="query_lat" value="14.5744623">
					<input type="hidden" id="query_lng" name="query_lng" value="120.9842">
				<div class="input-group-append">
					<button class="btn btn-lg btn-danger" type="submit">Search</button>
				</div>
			</div>
	    </form>
	</div>

	<% if(newDorms.length > 0){ %>
		<div class="jumbotron bg-white px-5 py-0">
			<h3 class="fs-title">Newly Listed Dormitories</h3>
			<div class="row">
				<% newDorms.forEach(function(dorm){ %>
					<div class="col-12 col-md-3 mb-4">
						<div id="<%= dorm.dorm_id %>" class="carousel slide" data-interval="false">
							<div class="carousel-inner corner-curved">
								<% var counter = 0;%>
								<% dorm.dorm_images.forEach(function(image){ %>
									<% if(counter < 1){ %>
										<div class="carousel-item active">
											<img class="d-block w-100" src="/images/dorm_images/<%= image.image %>" style="max-height: 250px">
										</div>
										<% counter++; %>
									<% }else{ %>
										<div class="carousel-item">
											<img class="d-block w-100" src="/images/dorm_images/<%= image.image %>" style="max-height: 250px">
										</div>
									<% } %>
								<% }); %>
								</div>
								<a class="carousel-control-prev" href="#<%= dorm.dorm_id %>" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								</a>
								<a class="carousel-control-next" href="#<%= dorm.dorm_id %>" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
								</a>
						</div>
						<a href="/listing/<%= dorm.dorm_id %>" target="_blank">
							<div class="card-body p-0 mt-2">
								<h6 class="search-text-title m-0"><%= dorm.dorm_name %></h6>
								<small class="block search-text"><i class="fas fa-map-marker-alt"></i> <%= dorm.address_dorm.dorm_complete_loc %></small>
								<small class="search-text"><i class="fa fa-user"></i> <%= dorm.roomslots[0].slots %>/<%=dorm.availableslots[0].allslots %> Slots Available</small>
								<hr class="m-1">
								<span class="search-text-footer">
									&#8369;<%= (Number(dorm.avgrent[0].avgrent)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>	
								</span>
								<span class="search-text-footer">average rent a month</span>
								<div>
									<% var averagerating = 0 %>
									<% for(var i = 0; i < 5; i++){ %>
										<% if(i < dorm.averagerating[0].averagerating){ %>
											<% averagerating = dorm.averagerating[0].averagerating; %>
										  	<img src="/images/static/star-on.png" class="rating-listing">
										<% }else{ %>
											<img src="/images/static/star-off.png" class="rating-listing">
										<% } %>
									<% } %>
									<small class="search-text-footer"><%= Math.trunc(Math.floor(averagerating)) %> Stars - <%= dorm.countedreviews %> Reviews</small>
								</div>
							</div>
						</a>
					</div>
				<% }); %>
			</div>
		</div>
	<% } %>

	<div class="jumbotron bg-white px-5 py-0">
		<h3 class="fs-title">Top Rated Dormitories</h3>
		<div class="row">
			<% topRated.forEach(function(dorm){ %>
				<div class="col-12 col-md-3 mb-4">
					<div id="<%= dorm.dorm_id %>" class="carousel slide" data-interval="false">
						<div class="carousel-inner corner-curved">
							<% var counter = 0;%>
							<% dorm.dorm_images.forEach(function(image){ %>
								<% if(counter < 1){ %>
									<div class="carousel-item active">
										<img class="d-block w-100" src="/images/dorm_images/<%= image.image %>" style="max-height: 250px">
									</div>
									<% counter++; %>
								<% }else{ %>
									<div class="carousel-item">
										<img class="d-block w-100" src="/images/dorm_images/<%= image.image %>" style="max-height: 250px">
									</div>
								<% } %>
							<% }); %>
							</div>
							<a class="carousel-control-prev" href="#<%= dorm.dorm_id %>" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</a>
							<a class="carousel-control-next" href="#<%= dorm.dorm_id %>" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
							</a>
					</div>
					<a href="/listing/<%= dorm.dorm_id %>" target="_blank">
						<div class="card-body p-0 mt-2">
							<h6 class="search-text-title m-0"><%= dorm.dorm_name %></h6>
							<small class="block search-text"><i class="fas fa-map-marker-alt"></i> <%= dorm.address_dorm.dorm_complete_loc %></small>
							<small class="search-text"><i class="fa fa-user"></i> <%= dorm.roomslots[0].slots %>/<%=dorm.availableslots[0].allslots %> Slots Available</small>
							<hr class="m-1">
							<span class="search-text-footer">
								&#8369;<%= (Number(dorm.avgrent[0].avgrent)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>	
							</span>
							<span class="search-text-footer">average rent a month</span>
							<div>
								<% var averagerating = 0 %>
								<% for(var i = 0; i < 5; i++){ %>
									<% if(i < dorm.averagerating[0].averagerating){ %>
										<% averagerating = dorm.averagerating[0].averagerating; %>
									  	<img src="/images/static/star-on.png" class="rating-listing">
									<% }else{ %>
										<img src="/images/static/star-off.png" class="rating-listing">
									<% } %>
								<% } %>
								<small class="search-text-footer"><%= Math.trunc(Math.floor(averagerating)) %> Stars - <%= dorm.countedreviews %> Reviews</small>
							</div>
						</div>
					</a>
				</div>
			<% }); %>
		</div>
	</div>

	<div class="jumbotron bg-white px-5 py-0">
		<h3 class="fs-title">Most Reviewed Dormitories</h3>
		<div class="row">
			<% mostReviewed.forEach(function(dorm){ %>
				<div class="col-12 col-md-3 mb-4">
					<div id="<%= dorm.dorm_id %>" class="carousel slide" data-interval="false">
						<div class="carousel-inner corner-curved">
							<% var counter = 0;%>
							<% dorm.dorm_images.forEach(function(image){ %>
								<% if(counter < 1){ %>
									<div class="carousel-item active">
										<img class="d-block w-100" src="/images/dorm_images/<%= image.image %>" style="max-height: 250px">
									</div>
									<% counter++; %>
								<% }else{ %>
									<div class="carousel-item">
										<img class="d-block w-100" src="/images/dorm_images/<%= image.image %>" style="max-height: 250px">
									</div>
								<% } %>
							<% }); %>
							</div>
							<a class="carousel-control-prev" href="#<%= dorm.dorm_id %>" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</a>
							<a class="carousel-control-next" href="#<%= dorm.dorm_id %>" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
							</a>
					</div>
					<a href="/listing/<%= dorm.dorm_id %>" target="_blank">
						<div class="card-body p-0 mt-2">
							<h6 class="search-text-title m-0"><%= dorm.dorm_name %></h6>
							<small class="block search-text"><i class="fas fa-map-marker-alt"></i> <%= dorm.address_dorm.dorm_complete_loc %></small>
							<small class="search-text"><i class="fa fa-user"></i> <%= dorm.roomslots[0].slots %>/<%=dorm.availableslots[0].allslots %> Slots Available</small>
							<hr class="m-1">
							<span class="search-text-footer">
								&#8369;<%= (Number(dorm.avgrent[0].avgrent)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>	
							</span>
							<span class="search-text-footer">average rent a month</span>
							<div>
								<% var averagerating = 0 %>
								<% for(var i = 0; i < 5; i++){ %>
									<% if(i < dorm.averagerating[0].averagerating){ %>
										<% averagerating = dorm.averagerating[0].averagerating; %>
									  	<img src="/images/static/star-on.png" class="rating-listing">
									<% }else{ %>
										<img src="/images/static/star-off.png" class="rating-listing">
									<% } %>
								<% } %>
								<small class="search-text-footer"><%= Math.trunc(Math.floor(averagerating)) %> Stars - <%= dorm.countedreviews %> Reviews</small>
							</div>
						</div>
					</a>
				</div>
			<% }); %>
		</div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeqKaE2xSUv_iplHE5GK1baRKlwKyURrE&libraries=places&callback=activatePlacesSearch"
        async defer></script>
	
	<script type="text/javascript">
		function activatePlacesSearch(){
			var input = document.getElementById("location");
			var options = {
				types: ["establishment"], componentRestrictions: {country: "ph"}
			}
			var autocomplete = new google.maps.places.Autocomplete(input, options);
			var input2 = document.getElementById("location2");
			var options = {
				types: ["establishment"], componentRestrictions: {country: "ph"}
			}
			var autocomplete2 = new google.maps.places.Autocomplete(input2, options);
			
			google.maps.event.addListener(autocomplete, 'place_changed', function() {
				var place = autocomplete.getPlace();
				$("#query_lat").val(place.geometry.location.lat());
				$("#query_lng").val(place.geometry.location.lng());
				var place = autocomplete.getPlace().address_components
				console.log(place);
				for(var i = 0; i < place.length; i++){
					for(var x = 0; x < place[i].types.length; x++){
						if(place[i].types[x] == "locality"){
							$("#query_city").val(place[i]["long_name"]);
						}
					}	
				}
			});

			google.maps.event.addListener(autocomplete2, 'place_changed', function() {
				var place = autocomplete.getPlace();
				$("#query_lat").val(place.geometry.location.lat());
				$("#query_lng").val(place.geometry.location.lng());
				var place = autocomplete.getPlace().address_components
				for(var i = 0; i < place.length; i++){
					for(var x = 0; x < place[i].types.length; x++){
						if(place[i].types[x] == "locality"){
							$("#query_city").val(place[i]["long_name"]);
						}
					}	
				}
			});
		}



		$(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

      	
	</script>

	

<% include ../partials/footer %>